/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: #bc8f8f;
  margin: 1rem;
  
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: auto;
    
}
.menu:after{
  content: "";
  clear: both;
  display: table;
}
.titleimg{
  width: 20%;
  
}
.titlebox{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.title {
  
}