/* a minimalist set of CSS resets */
:root {
  --back: #bc8f8f;
  --black: #3a3939;
  --other: #d6b372;
  --logo: #fcac69;
  --disabled: #baabab;
  --white: #eeeeee;
  --title: 10vmin;
  --body: 3vmin;
  --label: 5vmin;
  --unselected: #a87f74;
}
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: var(--back);
  margin: 1rem;
  color: var(--black);
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/*whole menu*/
.menu {
  display: flex;
