/* a minimalist set of CSS resets */
:root {
  --back: #bc8f8f;
  --black: #3a3939;
  --other: #d6b372;
  --logo: #fcac69;
}
/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: var(--back);
  margin: 1rem;
  color: var(--black);
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/*whole menu*/
.menu {
  display: flex;
  flex-direction: column;
  margin: auto;
    
}
.menu:after{
  content: "";
  clear: both;
  display: table;
}


/*title*/
.titleimg{
  width: 20%;
  object-fit: contain;
  
  
}
.titlebox{
 display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.title {
  font-size: 10vmin;
}


/*menu buttons*/
.menubox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* the cool shape used in a bunch of elements*/
.coolshape {
  border: none;
  color: var(--black);
  background-color: var(--other);
  border-top-right-radius: 
  border-bottom-right-radius: 60%;
}


/*home button*/
.homebtn {
  margin: 1vmin;
width: 30vmax;
  height: 10vmin;
}